<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>EventType</th>
    <th>Poster</th>
    <th>Description</th>
    <th>Duration(mins)</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.eventType %></td>
    <td><%= event.poster %></td>
    <td><%= event.description %></td>
    <td><%= event.duration %></td>
    <td><%= event.venue_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
