<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Type:</b>
  <%= @event.eventType %>
</p>

<p>
    <%= image_tag(@event.poster, :size => "80x80" ) %>
</p>

<br></br>
<br></br>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
